!!!
/[if IE 9]
  <html class="lt-ie10" lang="en" >
%html.no-js
  %head
    %link{href: "../../stylesheets/application.css", rel: "stylesheet"}
  %body
    %h1 HAML Compile Test File
    %script{src: "../../scripts/application.js", type: "text/javascript"}